button {
    background: none;
    border: none;
    color: #08c;
    margin: 0;
    padding: 0;
    font-size: 18px;
    cursor: pointer;
}

h1 {
    margin: 0;
}

.app-sidebar {
    width: 30%;
    height: 100vh;
    border-right: 2px solid;
}

.app-sidebar-header {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.app-sidebar-notes {
    height: calc(100% - 80px);
    overflow-y: scroll;
}

.app-sidebar-note {
    padding: 24px;
    cursor: pointer;
    transition: all 0.7s;
}

.sidebar-note-title {
    display: flex;
    justify-content: space-between;
}

.app-sidebar-note p {
    margin: 10px 0;
}

.app-sidebar-note small {
    color: #868686;
}

.app-sidebar-note:hover {
    background: #c6c6c6;
}

.app-sidebar-note.active {
    background: #c6c6c6;
}